{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

<section class="container my-3">
<br><br><br><br><br><br><br>
    <div class="row">
        <div class="col">
            <h2>Réinitialisation de mot de passe</h2>
            <div class="col-md-5">
                {{ form_start(passForm) }}
                    {{ form_row(passForm.password) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(passForm) }}
            </div>
           
        </div>
    </div>
</section>

{% endblock %}
