{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <h2>Réinitialisation de mot de passe</h2>
                    <div class="col-md-8">
                        {{ form_start(requestPassForm) }}
                            <br>
                            {{ form_row(requestPassForm.email) }}
                        {{ form_end(requestPassForm) }}
                        <br><br><br>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
